/* Sets the root font-size of the HTML document to 24px */
html {
  font-size: 24px;
}

/* The parent element containing everything */
.newspaper {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* Twice the root element's font-size (2rem = 2 * 24px = 48px) */
.name {
  font-size: 2rem; 
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
}

/* Twice its parent's font-size (2em = 2 * 16px = 32px) and bold */
.headline {
  font-size: 2em;
  font-weight: bold;
}

/* Weight of 100, 1.5 times parent's font-size, and italicized */
.sub-headline {
  font-weight: 100;
  font-size: 1.5em; 
  font-style: italic;
}

/* Uppercase and bold */
.author {
  text-transform: uppercase;
  font-weight: bold;
}

/* Text indent, and line-height twice the parent's font-size */
.text {
  text-indent: 20px;
  line-height: 2em; 
}

/* First letter styling: bold and twice parent's font-size */
.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}